body{
  background-color: rgb(255, 253, 253);
  margin: 0 ;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  
}

h1 img{
    width: 90px;
    border-radius: 60px;
}

nav {
  background-color: #333333;
  border-radius: 10px;
  padding: 5px 15px;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.sub{
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url("Imagens/prod1.avif");
  padding: 100px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.sub img{
    width: 100%;
}

.produtos-section {
  background-color: #f5f5f5; /* cor da seção de produtos */
  padding: 40px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.produto {
  background-color: white;
  width: 200px;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.imagem-produto {
  background-color: #dcdcdc;
  height: 100px;
  
  border-radius: 4px;
  margin-bottom: 10px;
}


button{
  width: 10rem;
  padding: 10px;
  background-color: transparent;
  border-radius: 7px;
  border: solid 1px;
  cursor: pointer;
}

.depoimento{
    display: flex;
    
    justify-content: center;
    background-color: #d1d0d0;
   padding: 40px 0;
    
}

.depoimento-box{
    margin: auto;
    height: 90px;
    max-width: 150px;
    padding: 20px;
   text-align: center;
   background-color: #fffafa;
   border-radius: 20PX;
   
}

.aspas {
  font-size: 20px;
  color: #868282;
  text-align: center;
  
}



.txt-depoimento {
  font-size: 14px;
  color: #333;
  margin: auto;
  
}

footer{
    text-align: center;
}

